
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

    <style>
      html, body {
        height: 100%;
      }
      body {
        display: flex;
        flex-direction: column;
      }
      .main-content {
        flex: 1;
      }
    </style>
  </head>
  <body>


    <!-- NavBar/Header Content -->
    {% include './assets/navbar.html' %}



    <!-- Main Content -->
    <div class="main-content">
        <div class="container mt-4">

            <h1>🧭 About Us</h1>
            <p>We are learning Django together!</p>
            <ul class="list-group" style="max-width: 400px;">
                <li class="list-group-item">✅ Templates</li>
                <li class="list-group-item">✅ Bootstrap</li>
                <li class="list-group-item">✅ URL Routing</li>
            </ul>


        </div>
    </div>


    <!-- Footer Content -->
    {% include './assets/footer.html' %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>
