
{% extends './assets/base.html' %}



{% block mainblock %}
    <h1>📧 Contact Us</h1>
    <form>
        <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Your name">
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="you@example.com">
        </div>
        <div class="mb-3">
            <label>Message</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
{% endblock %}
