

{% extends './assets/base.html' %}
{% comment %}
  importing all of the code from base.html to use on home.html
{% endcomment %}


{% comment %}
  allowing home.html to create its own html elements, that will be placed inside {% block mainblock %}{% endblock %} on base.html
{% endcomment %}
{% block mainblock %}
    <h1>🏡 Welcome to Home</h1>
    <p class="lead">This is the main page of our Django site.</p>


    <div class="alert alert-info">
    This page uses Bootstrap and Django template!
    </div>


    <h2>Student Name : {{name}}</h2>
    <h2>Student Age : {{age}}</h2>
    <h2>Student Phone : {{phone}}</h2>
    <h2>Student Address : {{address}}</h2>


   {% if is_graduated %}
      <div class="card m-4 p-5 text-dark bg-info text-center">
        <h2>{{name}} is Graduated!!!!!!</h2>
      </div>
   {% endif %}

    <br>
    <hr>
    <h2>Subjects: </h2>

    {% comment %}
      {% for i in subjects %}
        <p>subject : {{i}}</p>
      {% endfor %}
    {% endcomment %}


    <ul class="list-group">

      {% for subject in subjects %}
        <li class="list-group-item"> {{subject}} </li>
      {% endfor %}

    </ul>

    <br>
    <hr>
    <h2>Books: </h2>

    {% for book in books %}

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"> {{book.title}}</h5>

          <p class="card-text">
            <strong>Author : {{book.author}}</strong>
            <br>
            <strong>Pages : {{book.pages}}</strong>
          </p>

        {% if book.read %}
          <span class="badge bg-success">✅ Read</span>
        {% else %}
          <span class="badge bg-warning text-dark">🕒 Not Read</span>
        {% endif %}

        </div>
      </div>

    {% endfor %}


{% endblock %}
