{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% comment %}
        Static Tag:
        - allow us to use our style.css that is found from static folder
        - we had informed Django about our static folder from settings.py->STATICFILES_DIRS
        - IMPORTANT : need to load static to get this working {% load static %}
    {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    
    <h1>Hello, from home.html file.</h1>

    <img src="{% static 'img/car.png' %}" alt="Aston Martin Car" width="500">
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>