{% extends './assets/base.html' %}
{% comment %}
  importing all of the code from base.html to use on home.html
{% endcomment %}


{% comment %}
  allowing home.html to create its own html elements, that will be placed inside {% block mainblock %}{% endblock %} on base.html
{% endcomment %}
{% block mainblock %}
    <h1>🏡 Welcome to Home</h1>
    <p class="lead">This is the main page of our Django site.</p>


    <div class="alert alert-info">
    This page uses Bootstrap and Django template!
    </div>

    <h2>Student Name : {{name}}</h2>
    <h2>Student Age : {{age}}</h2>
    <h2>Student Phone : {{phone}}</h2>
    <h2>Student Address : {{address}}</h2>

    <br>
    <hr>
    <h2>Subjects: </h2>

    {% comment %}
      {% for i in subjects %}
        <p>subject : {{i}}</p>
      {% endfor %}
    {% endcomment %}

    <ul class="list-group">

      {% for i in subjects %}
        <li class="list-group-item"> {{i}} </li>
      {% endfor %}

    </ul>
{% endblock %}
